{{ block scripts }}
{{ endblock }}

{{ block content }}
<body class="">

    <!-- Decision Card -->
    <div class="card mt-5 shadow-lg">
        <div class="card-body">
            <h1 class="display-4">Vielen Dank!</h1>
            <p class="lead">Ihre Teilnahme wird sehr geschätzt.</p>

            <table class="table mt-5 mb-5 table-responsive">
                <tbody>
                    <tr>
                        <td class="" colspan="2">
                            <small>

                            </small>
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Verdienst</th>
                        <td class="text-secondary">
                            {{ if participant.vars.is_dropout }}
                             <small>
                                 Leider sind Sie aus dem Experiment ausgeschieden. Aus diesem Grund konnten wir keine Daten von Ihnen oder Ihren Gruppenmitgliedern erheben und können Sie nicht entschädigen.
                            </small>
                            {{ else }}
                                {{ if participant.vars.waited_too_long }}
                                <small>
                                    Vielen Dank für Ihre Geduld. Sie erhalten eine feste Gebühr von {{ session.config.participation_fee }}
                                    sowie den versprochenen Bonus für Ihre Geduld.
                                </small>
                                {{ else }}
                                 <small>
                                    Sie erhalten eine feste Gebühr von {{ session.config.participation_fee }} für
                                    Ihre Teilnahme. Zusätzlich verdienen Sie {{ participant.vars.dPGG_payoff }} als
                                    Ergebnis des Gruppenexperiments sowie {{ participant.vars.mpl_payoff }} für die andere Aufgabe.
                                    Dies ergibt eine Gesamtauszahlung von {{ final_payoff }}.
                                </small>
                                {{ endif }}
                            {{ endif }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Vertraulichkeit</th>
                        <td class="text-secondary">
                            <small>
                                Bitte geben Sie die Forschungsverfahren nicht an Personen weiter, die möglicherweise in Zukunft an dieser Studie teilnehmen könnten, da dies die Ergebnisse der Studie beeinträchtigen könnte.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Abschlussbericht</th>
                        <td class="text-secondary">
                            <small>
                                Falls Sie eine Kopie des Abschlussberichts dieser Studie
                                (oder eine Zusammenfassung der Ergebnisse) erhalten möchten, wenn diese abgeschlossen ist, kontaktieren Sie uns gerne.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Kontaktinformationen</th>
                        <td class="text-secondary">
                            <small>
                                Falls Sie Fragen oder Bedenken bezüglich dieser Studie, ihres Zwecks oder ihrer Verfahren haben, oder wenn
                                Sie ein forschungsbezogenes Problem haben, kontaktieren Sie gerne den Forscher,
                                Herrn Hauke Roggenkamp, per E-Mail:
                                <a href="mailto:hauke.roggenkamp@unisg.ch?subject=GMTV Extension Studie: {{ participant.code }}">
                                    hauke.roggenkamp@unisg.ch
                                </a>.
                                Falls Sie Fragen oder Bedenken bezüglich Ihrer Daten haben, identifizieren Sie sich bitte mit Ihrer
                                eindeutigen ID: <code>{{ participant.code }}</code>
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center text-secondary mb-4">
                <a class="btn btn-success shadow" href="">
                    Klicken Sie hier, um die Umfrage abzuschließen
                </a>
            </p>
        </div>
    </div>

</body>
{{ endblock }}