{{ block scripts }}
{{ endblock }}

{{ block content }}
<body class="">

    <!-- Decision Card -->
    <div class="card mt-5 shadow-lg">
        <div class="card-body">
            <h1 class="display-4">Thank you!</h1>
            <p class="lead">Your participation is greatly appreciated.</p>

            <table class="table mt-5 mb-5 table-responsive">
                <tbody>
                    <tr>
                        <td class="" colspan="2">
                            <small>

                            </small>
                            <br><br>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Earnings</th>
                        <td class="text-secondary">
                            {{ if participant.vars.is_dropout }}
                             <small>
                                 Unfortunately, you dropped out of the experiment. For this reason, we were not able to
                                 collect any data of you or your group members and cannot reimburse you.
                            </small>
                            {{ else }}
                                {{ if participant.vars.waited_too_long }}
                                <small>
                                    Thanks for your patience. You will receive a fixed fee of {{ session.config.participation_fee }}
                                    as well as the promised bonus for your patience.
                                </small>
                                {{ else }}
                                 <small>
                                    You will receive a fixed fee of {{ session.config.participation_fee }} for
                                    your participation. In addition, you'll earn {{ participant.vars.dPGG_payoff }} as a
                                    result of the group experiment as well as {{ participant.vars.mpl_payoff }} for the other task.
                                    This results in a total payoff of {{ final_payoff }}.
                                </small>
                                {{ endif }}
                            {{ endif }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Confidentiality</th>
                        <td class="text-secondary">
                            <small>
                                Please do not disclose research procedures to anyone who might participate in this study in
                                the future as this could affect the results of the study.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Final Report</th>
                        <td class="text-secondary">
                            <small>
                                If you would like to receive a copy of the final report of this study
                                (or a summary of the findings) when it is completed, please feel free to contact us.
                            </small>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Contact Information</th>
                        <td class="text-secondary">
                            <small>
                                If you have any questions or concerns regarding this study, its purpose or procedures, or if
                                you have a research-related problem, please feel free to contact the researcher,
                                Mr. Hauke Roggenkamp, via eMail:
                                <a href="mailto:hauke.roggenkamp@unisg.ch?subject=Social Preference Study: {{ participant.code }}">
                                    hauke.roggenkamp@unisg.ch
                                </a>.
                                If you have questions or concerns regarding your data, please identify yourself with your
                                unique ID: <code>{{ participant.code }}</code>
                            </small>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="text-center text-secondary mb-4">
                <a class="btn btn-success shadow" href="" role="button">
                    Click here to complete the survey
                </a>
            </p>
        </div>
    </div>

</body>
{{ endblock }}

