{{ block scripts }}
    <script src="{% static 'global/js/buttons.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'global/js/mpcr_viz.js' %}"></script>
{{ endblock }}

{{ block styles }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
{{ endblock }}


{{ block content }}
<body class="bg-light.bg-gradient">

    <!-- Header -->
    <nav class="navbar navbar-inverse sticky-top bg-white border-bottom justify-content-between" style="z-index:1">
        <h5 class="text-center">
            Instruktionen
        </h5>
        <div class="me-2 text-secondary" style="cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-calculator" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCalculator" aria-controls="offcanvasCalculator" id="calculator_icon">
                <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-2zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-4z"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="dark" class="bi bi-info-circle-fill ms-2" viewBox="0 0 16 16" data-bs-toggle="offcanvas" data-bs-target="#offcanvasInstructions" aria-controls="offcanvasInstructions" id="instructions_icon">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </svg>
        </div>
    </nav>


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-10 col-md-10 col-lg-8">

                {{ if correct }}
                <div class="card rounded mt-3 bg-success shadow-lg">
                    <div class="card-body text-white">

                        <h4 class="mt-3">
                            Sehr gut gemacht!
                        </h4>
                        <p>
                           Sie haben alle Verständnisfragen richtig beantwortet.
                        </p>
                    </div>
                </div>
                {{ else }}
                <div class="card rounded mt-3 shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3">
                            Sie haben nicht alle Fragen richtig beantwortet.
                        </h4>
                        <p>
                           Bitte lesen Sie die korrekten Antworten, die wir unten auflisten.
                        </p>
                    </div>
                </div>
                {{ endif }}

                <!-- Decision Cards -->

                {{ if player.CQ_1 == False }}
                <div class="card rounded mt-3 bg-warning shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3 text-white">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </h4>
                        <p>
                            Auf der ersten Seite stellen wir Ihnen folgende Frage:
                            <em>
                                'Wie viel Geld können Sie in dieser Studie verdienen?'
                            </em>
                        </p>
                        <p>
                            Da Sie eine falsche Antwort gegeben haben, geben wir Ihnen die richtige und erklären, warum sie richtig ist:
                        </p>
                        <p>
                            Sie erhalten eine feste Teilnahmegebühr für Ihre Teilnahme, wenn Sie die Regeln der Studie befolgen.
                            Zusätzlich beginnen Sie mit einer anfänglichen Ausstattung von {{ session.config.initial_endowment }} Punkten.
                            Da Sie jedoch Entscheidungen in einer Gruppe treffen, bei denen Ihre Entscheidungen nicht nur Ihre,
                            sondern auch die Verdienste Ihrer Gruppenmitglieder beeinflussen und deren Entscheidungen auch Ihre Verdienste beeinflussen,
                            kann man nicht im Voraus wissen, wie viel Sie verdienen werden.
                        </p>
                    </div>
                </div>
                {{ endif }}


                {{ if player.CQ_2 == False }}
                <div class="card rounded mt-3 bg-warning shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3 text-white">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </h4>
                        <p>
                            Auf der ersten Seite haben wir Ihnen vier Aussagen präsentiert und Sie gebeten, die richtige auszuwählen.
                        </p>
                        <p>
                            Da Sie eine falsche Antwort gegeben haben, geben wir Ihnen die richtige und erklären, warum sie richtig ist:
                        </p>
                        <p>
                            In dieser Studie werden Sie mit drei anderen Teilnehmern zusammengebracht und bilden eine Vierergruppe.
                            Außerdem wird die Studie über den Verlauf von zehn Perioden durchgeführt.
                            Während dieser zehn Perioden der Studie werden Sie mit denselben drei Personen interagieren.
                        </p>
                    </div>
                </div>
                {{ endif }}


                {{ if player.CQ_3 == False }}
                <div class="card rounded mt-3 bg-warning shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3 text-white">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </h4>
                        <p>
                            Auf der zweiten Seite haben wir Ihnen vier Aussagen präsentiert und Sie gebeten, die richtige auszuwählen.
                        </p>
                        <p>
                            Da Sie eine falsche Antwort gegeben haben, geben wir Ihnen die richtige und erklären, warum sie richtig ist:
                        </p>
                        <p>
                            In jeder Periode können Sie Punkte einem privaten Konto und einem Gruppenkonto zuweisen.
                            Das private Konto bringt eine feste Ausschüttungsrate von 100%.
                            Die Ausschüttungsrate des Gruppenkontos kann variieren.
                            Genauer gesagt hängt die Ausschüttungsrate des Gruppenkontos nicht nur von Ihrer Ausstattung ab, sondern auch davon,
                            wie sich Ihre Ausstattung im Vergleich zu den Ausstattungen der anderen Gruppenmitglieder verhält:
                            Je höher Ihre Ausstattung (im Vergleich zu anderen), desto niedriger ist Ihre individuelle Ausschüttungsrate aus dem Gruppenkonto.
                            Wichtig ist, dass Ihre Ausschüttungsrate auf alle Punkte angewendet werden, die sich im Gruppenkonto befinden.
                            Das gilt unabhängig davon, wie viele Punkte Sie dem Konto persönlich zugewiesen haben.
                        </p>
                    </div>
                </div>
                {{ endif }}


                {{ if player.CQ_4 == False }}
                <div class="card rounded mt-3 bg-warning shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3 text-white">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </h4>
                        <p>
                            Auf der dritten Seite haben wir Ihnen einen Satz präsentiert, von dem ein Teil nicht korrekt war.
                            Wir haben Sie gebeten anzugeben, welcher Teil davon falsch ist. Die Sätze lauteten:
                        </p>
                        <em>
                            <ol>
                                <li>'Es gibt eine konstante Wahrscheinlichkeit, dass ein Ereignis eintritt.'</li>
                                <li>'Wenn ein Ereignis eintritt, kann ich bis zur Hälfte meiner Ausstattung verlieren.'</li>
                                <li>'Wie viel von meiner Ausstattung verloren geht, hängt von meiner Gruppe ab.'</li>
                                <li>'Ich habe jedoch keine Kontrolle über den Schaden, wenn ein Ereignis eintritt.'</li>
                            </ol>
                        </em>

                        <p>
                            Da Sie eine falsche Antwort gegeben haben, geben wir Ihnen die richtige und erklären, warum sie richtig ist:
                        </p>
                        <p>
                            Schaden kann durch sogenannte Ereignisse entstehen.
                            Ereignisse treten mit einer bestimmten Wahrscheinlichkeit ein, die Sie auf der nächsten Seite erfahren werden.
                            Sie können die Wahrscheinlichkeit, dass ein solches Ereignis eintritt, nicht verändern.
                            Aber wenn ein Ereignis eintritt, hängt der Schaden, den es verursacht, von Ihren vorherigen Entscheidungen ab.
                            Genauer gesagt kann der Schaden bis zu 50% Ihrer Ausstattungen reduzieren, wenn keines der Gruppenmitglieder
                            etwas zum Gruppenkonto beigetragen hat. Wenn hingegen alle Gruppenmitglieder
                            ihre gesamten Ausstattungen beitragen, wäre der Schaden eines potenziellen Ereignisses null (und würde somit
                            Ihre Ausstattung nicht beeinträchtigen). Insgesamt gilt, dass der Schaden geringer ausfällt,
                            je mehr Ihre Gruppe in der Vorrunde zum Gruppenkonto hinzugefügt hat.
                            Somit haben Sie Einfluss auf den Schaden (aber keinen Einfluss auf die Eintrittswahrscheinlichkeit).
                        </p>
                    </div>
                </div>
                {{ endif }}


                {{ if player.CQ_5 == False }}
                <div class="card rounded mt-3 bg-warning shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3 text-white">
                            <i class="bi bi-exclamation-triangle-fill"></i>
                        </h4>
                        <p>
                            Auf der vierten Seite haben wir Ihnen die Benutzeroberfläche mit hypothetischen Zahlen vorgestellt und Sie gefragt,
                            wie viel Sie zum Gruppenkonto beitragen könnten, wenn diese Benutzeroberfläche (und die
                            hypothetischen Zahlen) eine reale Situation darstellten.
                        </p>
                        <p>
                            Da Sie eine falsche Antwort gegeben haben, geben wir Ihnen die richtige und erklären, warum sie richtig ist:
                        </p>
                        <p>
                            Der Bildschirm zeigte mehrere Zahlen an. Die wichtige Zahl zur Beantwortung der Frage war 20,
                            da diese Zahl die Ausstattung in diesem Szenario darstellte. Die Ausstattung finden Sie in der
                            oberen linken Ecke des Entscheidungsbildschirms und sie stellt die maximale Anzahl von Punkten dar,
                            die Sie dem Gruppenkonto zuweisen können.
                        </p>
                    </div>
                </div>
                {{ endif }}

                <div class="card rounded mt-3 shadow-lg">
                    <div class="card-body">

                        <h4 class="mt-3">
                            Benötigen Sie weitere Informationen?
                        </h4>
                        <p>
                           Bitte erwägen Sie, die Instruktionen erneut zu lesen, indem Sie auf das
                            <i class="bi bi-info-circle-fill"></i> Symbol oben auf Ihrem Bildschirm klicken.
                            Versuchen Sie auch, ein Gefühl für Ihre Verdienste in verschiedenen Szenarien zu bekommen, indem Sie auf das
                            <i class="bi bi-calculator"></i> Symbol klicken.
                        </p>
                    </div>
                </div>


                <div class="d-flex justify-content-center mt-5 mb-3">
                    <button class="btn btn-outline-primary" type="submit" id="submitButton">
                        Weiter
                    </button>
                </div>

            </div>
        </div>
    </div>


    <!-- Instructions Offcanvas -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasInstructions" aria-labelledby="offcanvasInstructionsLabel">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title" id="offcanvasInstructionsLabel">Instruktionen</h4>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    {{ include C.EARNINGS_TEMPLATE }}
                </div>

                <h4 class="mt-5">
                    Ereignisse
                </h4>
                <div>
                    {{ include C.SHOCKS_TEMPLATE }}
                </div>
            </div>
        </div>

    <!-- Calculator Offcanvas -->
    {{ include C.CALCULATOR_TEMPLATE }}

</body>
{{ endblock }}
